@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define scrollbar colors for light mode */
.light {
    --scrollbar-bg: #ffffff00;
    --scrollbar-thumb: #00000033;
  }
  
  /* Define scrollbar colors for dark mode */
  .dark {
    --scrollbar-bg: #00000000;
    --scrollbar-thumb: #ffffff33;
  }
  
  /* Apply scrollbar styles */
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
  }